<h1>Angular Resumes items</h1>

<%= link_to "Create new item", new_resume_url %>

<% @angular_resume_item.each do |resume_item| %>
  <p><%= link_to resume_item.title, resume_show_path(resume_item) %></p>
  <p><%= resume_item.subtitle %></p>
  <p><%= resume_item.body %></p>
  <%= image_tag resume_item.thumb_image unless resume_item.thumb_image.nil? %>
  <%= link_to "Edit", edit_resume_path(resume_item) %>
  <%= link_to 'Delete portfolio Item', resume_path(resume_item), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
